# Node
node_modules/
dist/
build/

# Environment
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# OS
.DS_Store

# IDEs
.vscode/
.idea/

# Coverage
coverage/

# Misc
.cache/
*.tgz
*.sqlite
*.sqlite3
*.db
jspm_packages/
